# Bunny Environment Secrets
BUNNY_API_KEY=
# Use 32-256 printable ASCII characters without whitespace or commas.
DDNS_SHARED_SECRET=

# Bunny Environment Variables
DDNS_USERNAME=inadyn
DDNS_ALLOWED_HOSTS=home.example.com
DDNS_ALLOWED_ZONES=
DDNS_ALLOW_ALL_HOSTS=false
